
/* 
main{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(auto,minmax(300px,1fr));
}

div{
   border: 1px solid red;
} */
/* .container{
    display: grid;
    gap: 10px;
}

.item{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}


@media(min-width:600px){
   .container{
    grid-template-columns: repeat(2, 1fr);
   }
}


@media(max-width:599px){
    .container{
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
} */


/* .container{
    display: flex;
    flex-wrap: wrap;
}

.item{
    height: 200px;
    border: 1px solid red;
    width: 200px;
    flex-grow: 2;
    flex-basis: 200; 
}*/


/* 
.black-and-white {
    background-color: #000;
    color: #fff; /* Set text color to white for better visibility */


.box{
    color: wheat;
    position: relative;
    text-align: center;
    width: 150px;
    height: 80px;
    background-color: black;
    border: 3px solid green;
    animation-name: move;
    animation-duration: 4s;
}


@keyframes move{
   from{
    top:0;
    left:0;
   }

   to{
    top:0;
    left: 1200px;
   }
}


.element{
    width: 100px;
    height: 100px;
    background-color: black;
    transition:  width , height 3s ease;
}

.element:hover{
    height: 200px;
    width: 200px;
}