
.custom-model{
    position: absolute;
    position: fixed;
    margin-top: 200px;
    margin-left: 200px;
    border: 1px solid red;
    transition: opacity 1s ease;
}


.custom-model.open {
    opacity: 1;
  }


  /* ------------------------------------------------------------------- */


  .main-z{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
  }


  .undoRedo{
    display: flex;
    margin: 10px;
  }


  .undoRedo button{
      margin: 10px;
  }


  .buttonsz{
      display: flex;
      margin:20px;
  }


  .buttonsz  button{
    margin: 10px;
  }



  /* ------------------------------------------------------------------- */