.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .load {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    animation: loading 1.5s infinite linear;
  }
  
  @keyframes loading {
    0%, 100% {
      content: ".";
    }
    25% {
      content: "..";
    }
    50% {
      content: "...";
    }
    75% {
      content: "";
    }
  }
  